.constructor-to-do{
    text-align: center;
}
.constructor-to-do form{
    padding: 10px;
}
.constructor-to-do form input{
background-color: transparent;
  border-radius: 0;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
    font-size: 1em;
    border-bottom: 1px solid black;
}
